Makefile
!src/Makefile
*.user
*.pro.user.*
*.cmd
*.mk
*.mod
*.mod.c
*.mod.o
*.o
*.ko
*.so
*.so.*
Module.symvers
modules.order
.qmake.stash
*.kate-swp
*.tmp
*.o.d
*.ur-safe
__pycache__
packages_auto
.kdev4
CMakeLists.txt.user.*
